body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

div {
    display: block;
}

#navigation {
    margin-top: 12px;
    margin-bottom: 6px;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    margin-top: 10px;

}

#menu {
    padding: 5px;
    border: 1px solid #CCC;
    clear: both;
    margin-top: 8px;
}

.tab {
    float: left;
    width: 175px;
    margin-right: 5px;
    background: #BCE;
    text-align: center;
    font-weight: bold;
}

.content-head {
    margin-top: 12px;
    border: 1px solid #CCC;
    background: #CCC;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
}

h4 {
    font-weight: bold;
    padding-left: 24px;
    padding-top: 5px;
}

#recommended {
    margin-bottom: 12px;
    border: 1px solid #CCC;
    padding: 0px 6px;
    padding-left: 12px;
    background: #EEE;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
}

#featured {
    margin-bottom: 12px;
    border: 1px solid #CCC;
    padding: 0px 6px;
    padding-left: 12px;
    background: #EEE;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    font-size: 12px;
}

.videos {
    padding: 10px 0px;
    border-bottom: 1px dashed #999;
}

.video-desc {
    padding-left: 12px;
    font-size: 12px;
}

#your-menu {
    padding: 6px;
    border: 1px solid #CCC;
}

#about-table {
    display: table-cell;
    vertical-align: top;
    width: 350px;
    border-color: #ffffff;
    padding-left: 30px;
    padding-top: 12px;
}

.about-a {
    font-size: 14px;
    font-weight: bold;
}

.about-description {
    padding-bottom: 8px;
    padding-left: 24px;
}

#login {
    border-top: 1px solid #CCC;
    margin-top: 6px;
    padding-top: 6px;
}

#login > table{
    display: table-cell;
    vertical-align: top;
    width: 350px;
    padding-left: 30px;
}

#new {
    padding: 6px;
    border: 1px solid #CCC;
    padding-left: 24px;
    padding-top: 12px;
    padding-right: 24px;
    font-size: 15px;
}


#foot {
    border-top: 1px solid #999;
    margin-top: 24px;
    padding-top: 12px;
    padding-bottom: 24px;
    font-size: 11px;
    text-align: center;
}